@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=MedievalSharp&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Jersey 10', cursive;
}

body {
  font-family: 'Jersey 10', cursive;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.first-section {
  background-color: #1f2937;
}

#header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
}

.navbar-left,
.navbar-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.content-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin-left: 150px;
}

img {
  margin-bottom: 50px;
  border: 2px solid #707d92;
  border-radius: 3px;
  border-style: dashed;
}

.p-first {
  font-size: 18px;
  color: #e5e7eb;

}

.signup-first-section {
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  border-style: dashed;
}

button {
  margin-top: 10px;
  border-radius: 3px;
  border-style: dashed;
  background-color: #89a3ae;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  text-align: center;
}

.row-of-blue-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 100px;

}

.box-blue {
  color: black;
  width: 200px;
  height: 200px;
  border: 1px solid #707d92;
  border-style: dashed;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-second {
  font-size: 18px;
  color: #1f2937;
  text-align: center;
}

.third-section {
  background-color: #ebe5e6;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.p-third {
  font-size: 20px;
  margin-top: 10px;
}

.last-section {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-container {
  background-color: #1f2937;
  color: white;
  width: 75%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  border-style: dashed;
}

.signup-last-section {
  background-color: #89a3ae;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  border-style: dashed;
}

.right {
  display: flex;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}